<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Consumables</key>
	<dict/>
	<key>Others</key>
	<array>
		<string>com.app.resq.seasonpass</string>
		<string>com.app.resq.ripper</string>
	</array>
	<key>SharedSecret</key>
	<string>069cc229ad5145c984cbd7ae58622449</string>
</dict>
</plist>
